body {
  margin: 20px;
  font-family: sans-serif;
}

img,
video {
  display: block;
  max-width: 100%;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
}

#slide-elements {
  display: grid;
}

#slide-elements * {
  grid-area: 1/1;
  opacity: 0;
  visibility: none;
}

#slide-elements > .active {
  opacity: 1;
  visibility: visible;
}
